.intro {
    background-image: url('../../images/home-bg-1.svg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    padding-top: 10%;
}

.name {
    font-size: 5em;
}

.designation {
    font-size: 3em;
}

.list {
    display: flex;
    column-gap: 1.5em;
    font-size: 1.3em;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: #33b5e5;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.customBtn1 {
    color: rgba(255, 255, 255, 0.85);
    /* border-color: #00cf5d; */
    background-color: #33b5e5;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 3px;
}

.customBtn1:hover {
    background-color: #212F3E;
    border-color: #33b5e5;
}

.customBtn2 {
    color: rgba(255, 255, 255, 0.85);
    border-color: #33b5e5;
    background-color: #212F3E;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 3px;
    border-width: 2px;
}

.customBtn2:hover {
    background-color: #33b5e5;
    border-color: #33b5e5;
}


.introImg {
    width: 100%;
}

@media only screen and (max-width: 576px) {

    .intro {
        padding-top: 15%;
    }

    .name {
        font-size: 2.3em;
    }

    .designation {
        font-size: 2em;
    }

    .list {
        display: flex;
        column-gap: 1.5em;
        font-size: 0.9em;
    }

    ul li::before {
        content: "\2022";
        color: #33b5e5;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1.2em;
    }
}


@media only screen and (min-width: 571px) and (max-width: 842px) {

    .intro {
        padding-top: 15%;
    }

    .name {
        font-size: 3em;
    }

    .designation {
        font-size: 1.5em;
    }

    .list {
        display: flex;
        column-gap: 1.5em;
        font-size: 0.9em;
    }

    .introImg {
        width: 70%;
    }
}